<header>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('routes.index') }}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{{ url_for('routes.courses') }}" class="nav-link">Classes</a></li>
            <li class="nav-item"><a href="{{ url_for('routes.register') }}" class="nav-link">Register</a></li>
            {% if current_user.is_anonymous %}
            <li class="nav-item"><a href="{{ url_for('routes.login') }}" class="nav-link">Login</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('routes.enrollment') }}" class="nav-link">Enrollment</a></li>
            <li class="nav-item"><a href="{{ url_for('routes.logout') }}" class="nav-link">Logout</a></li>
            <li class="nav-item"><a href="{{ url_for('routes.chat') }}" class="nav-link">Chat</a></li>
            {% endif %}
            <li class="nav-item"><a href="{{ url_for('api.users') }}" class="nav-link">Api Users</a></li>
            <li class="nav-item"><a href="{{ url_for('api.courses') }}" class="nav-link">Api Courses</a></li>
        </ul>
    </nav>
    <hr style="clear:both">
</header>