<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/websocket.js') }}" defer></script>

{% extends "layout.html" %}

{% block content %}
<h1>Chat room</h1>
<h2>Hello {{ current_user.first_name }} {{ current_user.last_name }} </h2>
<div class="chat-container w-100 h-50 p-3" style="background-color: #eee;">
</div>

{% endblock %}