{% extends "layout.html" %}

{% block content %}
<div>
    <h4>{{ current_user.first_name }}'s {{ current_user.last_name }} courses:</h4>
    <br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Credits</th>
                <th scope="col">Term</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td scope='row'>{{ course.course_id }}</td>
                <td>{{ course.title }}</td>
                <td>{{ course.credits }}</td>
                <td>{{ course.term }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}