{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center">
        <h1>Welcome to Pawelek's self study project :)</h1>

        {% if not session.user_id %}
        <p>Already registered? <a href="{{url_for('routes.login') }}">Login</a></p>
        {% endif %}

        <img src="{{ url_for('static', filename='images/cat.jpg') }}">

    </div>
</div>
{% endblock %}