<!DOCTYPE html>
<html>

<head>
    <title>Pawelek's page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <meta name="template" content="{{ self._TemplateReference__context.name }}">
</head>

<body>
    <div class="container">
        {% include "includes/nav.html" %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{ category }}" role="alert">
            <p> {{ message }}</p>
        </div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
    {% include "includes/footer.html" %}
</body>

</html>