{% extends "layout.html" %}

{% block content %}
<h1>Login</h1>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form name="login" action="{{ url_for('routes.login') }}" method="POST">
            <div class="form-field">{{ form.hidden_tag() }}</div>
            <div class="form-field">{{ form.email.label }} {{ form.email(size=20) }}</div>
            <div class="form-field">{{ form.password.label }} {{ form.password }}</div>
            <input type="submit" value="Login" class="btn-submit btn-primary">
        </form>
    </div>
</div>
{% endblock %}