{% extends "layout.html" %}

{% block content %}
<h2>New User Registration</h2>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="container">
            <form name="register" action="{{ url_for('routes.register') }}" method="POST">
                <div class="form-field">{{ form.hidden_tag() }}</div>
                <div class="form-field">{{ form.email.label }} {{ form.email(size=20) }}</div>
                <div class="form-field">{{ form.password.label }} {{ form.password }}</div>
                <div class="form-field">{{ form.password_confirm.label }} {{ form.password_confirm }}</div>
                <div class="form-field">{{ form.first_name.label }} {{ form.first_name }}</div>
                <div class="form-field">{{ form.last_name.label }} {{ form.last_name }}</div>
                <input type="submit" value="Register" class="btn-submit btn-primary">
            </form>
        </div>
    </div>
</div>
{% endblock %}